# Visual Studio
.vs/
bin/
obj/
*.vcxproj.filters
*.vcxproj.user
*.pdb

# Clarion Build artifacts
*.exe
*.lib
*.map
*.FileList.xml
*.obj
*.exp
*.shp
*.rsc
*.bpp
*.ini
TestMenu*.clw
TestMenu.EXE.manifest
